*{
    margin: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
:root{
    --corbase:#333;
}
body{
    width: 920px;
    height: auto;
    margin: auto;
}
#logo{
    width:188px;
    height: 69px;
    float: left;
}
#menu{
    width: auto;
    height: auto;
    margin-top: 25px;
    float: right;
}
#menu a{
    color: var(--corbase);
    text-decoration: none;
    display: inline-block;
    padding: 5px 25px 5px 25px;
    font-family: tahoma;
    font-size: 14px;
}
#menu a:hover{
    background-color: var(--corbase);
    color: white;
    font-weight:bold;
}
h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 10px;
    background-color: var(--corbase);
    color: white;
    padding: 10px;
}
img{
    filter: grayscale(100%);
}
.imgLeft{
    float: left;
    margin-right: 10px;
}
.imgRight{
    float: right;
    margin-left: 10px;
}
p{
    line-height: 20px;
}
.marcaTexto{
    background-color:yellow;
    font-style: italic;
    font-weight: bolder;
}
footer{
    width: 920px;
    height: 40px;
    background-color: #999;
    margin-top: 10px;
}
input{
    width: 250px;
    background-color: #cccccc;
    border-radius: 10px;
    border: 3px #333333 solid;
}
textarea{
    width: 300px;
    height: 100px ;
    background-color: #cccccc;
    resize: none;
    border-radius: 20px;
    border: 3px #333 solid;
}
input[type=submit]{
    width: 90px;
    background-color: #333;
    color: white;
    border: none;

}