*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif; 
}
/*header{*/
    
:root{
    --cor-de-fundo: rgb(231, 134, 76);
    --cor-secundaria: white;
    --cordefundomenu:blue;
    --corprincipal:yellow;
    --corhover:rgb(233,122,44);
}
section{
    position: relative;
    width: 1024px;
    margin: auto;
}
header{
    height: 150px;
    width: 100%;
    margin:auto;
    background-color:var(--cor-de-fundo);
    position: relative;
}
header img{
    width: 80px;
}
#logo{
    position: absolute;
    left: 0px;
    top: 10px;
    height: 90px;
}
#textoEnviamos{
    position: absolute;
    color: white;
    left: 275px;
    top: 70px;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}
input[type=text]{
    width: 500px;
    height: 40px;
    font-size: 20px;
    line-height: 38px;
    position: absolute;
    left: 250px;
    top: 10px;
    border-radius: 20px;
    border-style: none;
    text-indent: 20px;
   
 }
#figureheader{
    background-color: var(--cor-de-fundo);
    border-style: none;
}
 
#carrinho{
    position: absolute;
    left: 20px;
    top: 0;
    background-color: transparent;
    border: none;
}
#cliente{
    position: absolute;
    right: 5px;
    top: 0s;
    background-color: transparent;
    border: none;
}
    
header nav{
    position: absolute;
    bottom: 0;
    background-color: blue;
    width: 100%;
    
}
header nav ul{
    max-width: 1024px;
    margin: auto;
}
header nav ul li {
    display: inline-block;
}
header nav ul ul{
    display: none;
    background-color: var(--cordefundomenu);

}
header nav ul li:hover ul{ 
    display: grid;
    position: absolute;
     z-index: 10;
}
header nav ul li:nth-child(6){
    float:right;
    background-color:chocolate; 
}
body{
    font-family: Roboto, sans-serif;
    background-color: var(--cor-de-fundo) ;
}
ul, ol{
    list-style: none;
}
main{
    background-color:var(--cor-secundaria);
    /* margin: 20px; */
    padding: 20px;
    position: relative;
    text-align: justify;
    width: 1024px;
    margin: auto;
}
blockquote{
    padding: 10px 10px 10px 10px;
    float: left;
    width: 30%;
    background-color: rgb(206,202,202);
    border: 10px solid #7a7a7a;
    display: block;
    margin: 2% 5% 2% 5% ;
}
cite{
    display: auto;
    margin: 15px 5px 3px 0;
    line-height: 20px;
    text-align: right;
}
.divisaoColuna{
    float: left;
    width: 40%;
}
h2{
    font-size: 40px;
    padding: 10px 10px 10px 0px;
}
h3{
    padding: 10px 10px 10px 0px;
}
.blocktext{
    padding-bottom: 20px;
    text-indent: 20px;
}
figure{
    width: 19.3%;
    position: absolute;
    top:20px;
    right: 30px;
    
}

aside, figure{
    background-color: #7a7a7a;
    color: var(--cor-secundaria);
    float: right;
    border:5px solid black;
}
img{
    width: 100%;
}
aside{
    width: 18%;
    margin: auto;
    position: relative;
    top: -167px;
    right: 20px;
    background-color: var(--cor-secundaria);
}

nav ul li a {
    display: block;
    color: white;
    padding: 10px;
    line-height: 10px;
    text-decoration: none;
    text-transform: bold;
    text-align: center;
    
}
nav li a:hover{
    display: block;
    background-color: var(--cor-de-fundo);
    text-transform: bold;
    transition: .3s;
}
footer{
    background-color: rgb(0,0,0);
    height: 50px;
    color: white;
    line-height: 50px;
    clear: both;
}


.vermelho{
    color: red;
}
.nomeCliente{
    font-size: 18px;
    display: block;
    text-align: center;
}
.diferenciado{
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
    color:blue;
}
.limpaFloat{
    clear: both;
}
.reducText{
    width: 75%;
}
aside ul{
    background-color: blue;
}
.icones-sociais li{
    background-color: var(--cor-azul);
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 10px;
}
.icones-sociais a{ 
    width: 40px;
    height: 40px;
    display: inline-block;
    color: white;
    text-indent: -9999px;
}
    
 .twitterlogo{
     background-image: url(../img/twitter.png);
 }
 .githublogo{
    background-image: url(../img/github.png);
 }
 .linkedinlogo{
     background-image: url(../img/linkedin.png);
 }